{% extends "layouts/main.html" %}
{% block content %}
<h2>Let's do Something Amazing!</h2>
<div class="row">
<div class="col-md-4">
<p>
<span><a href="gry:217-778-9226" class="rot13">217-778-9226</a></span>
<br />
<span><a href="znvygb:uryyb@lbhe.fvgr" class="rot13">uryyb@lbhe.fvgr</a></span>
</p>
</div>
<div class="col-md-6">
<p>
Here is some blurb you can include on how someone can contact you
</p>
</div>
</div>
{% endblock %}
