{% extends "layouts/main.html" %}
{% block content %}
<h2>Your Main Page!</h2>
<p>
Make this your starting point.
</p><p>
This is an example of an html page for your site.
</p><p>

</p>
{% endblock %}
